body{
background-color: rgb(26, 2, 32);
margin-top: 30px;
color: white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.affiche{
text-align: center;
font-size: 18px;
}

.hilight1{
  font-size: 20px;
}
.hilight2{
  color: #d7b403;
  }

.formulaire{
  display: flex;
  gap: 20px;
  justify-content: center;
  }

.label1{
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
  }

  
  .label2{
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 3px;
  padding-left: 400px;
  }

  .label3{
  display: block;
  text-align: left;
  margin-bottom: 3px;
  font-size: 16px;
  padding-left: 400px;
  margin-top: 4px;
  }


.input1 {
  border-radius: 6px;
  width: 227px;
  height: 18px;
  }

.input2 {
  width: 480px;
  height: 18px;
  border-radius: 6px;
  }

textarea{
  border-radius: 6px;
  width: 480px;
  height: 210px;
  margin-top: 7px;
  }

.labeo{
  padding: 200px;
  }

.bouton{
  font-size: 14px;
  background-color: #f2cb06;
  display: inline-block;
  border: none;
  text-align: center;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  }

  .bouton1{
  font-size: 14px;
  background-color: #f2cb06;
  display: inline-block;
  border: none;
  color: black;
  text-align: left;
  padding: 10px 20px;
  justify-content: left;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0px;;
  text-decoration: none;
}


.affichage{
  font-size: 20px;
  color: rgb(2, 191, 2);
  text-align: left;
  font-weight: bold;;

  }

@media screen and (max-width: 768px) {

h2{
  font-size: 22px;
  margin-top: 50px;
  }

.hilight1{
  font-size: 16px;
}
.hilight2{
  color: #d7b403;
  }

.formulaire{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
 
  }
  
.label1{
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
  }

  
  .label2{
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 3px;
  padding-left: 98px;
  }

  .label3{
  display: block;
  text-align: left;
  margin-bottom: 3px;
  font-size: 16px;
  margin-top: 4px;
  padding-left: 99px;
  }


textarea {
    width: 290px;
    max-width: 350px;
  }

.input1 {
    width: 135px;
    max-width: 350px;
  }

.input2 {
  width: 291px;
    max-width: 350px;
  }

.affiche{
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}


.bouton {
    width: auto;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px auto;
    display: block;
    text-align: center;
  }

.bouton1{
  font-size: 16px;
  background-color: rgb(26, 2, 32);
  display: inline-block;
  color: white;
  text-align: left;
  margin-left :5px;
  justify-content: center;
  border-radius: 4px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.affichage {
    text-align: center;
    font-size: 18px;
    color: rgb(2, 191, 2);
  }
 }
